nav{
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

nav .left ul {
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  nav .left ul img {
    margin-right: 40px;
  }
  
  nav .left ul li a {
    color: rgb(109, 106, 106);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav .left ul .active a {
    font-weight: bold;
    color: black;
  }

.left {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
  }

.left ul {
    display: flex;
    align-items: center;
}

.left ul li {
    list-style-type: none;
}

.left ul li a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

.right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.right button {
  margin-top: 0;
  padding: 8px 20px;
  font-size: 17px;
  background: black;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.right button a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Navbar */
nav {
    background-color: #ebeaea;
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 25px;
    font-size: 20px;
  }
  
  nav ul li .active {
    color: black;
  }
  
  .nav-left {
    flex: 50%;
    /* mengatur lebar */
  }
  
  .nav-left a {
    flex: 50%;
    color: black;
  }
  
  .nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
  }
  
  .nav-right a {
    background-color: black;
    padding: 8px 20px;
    color: white;
    border-radius: 10px;
  }

  .navbar-contact-btn {
    margin-top: 50px;
    padding: 8px 20px;
    font-size: 17px;
    text-decoration: none;
    background: black;
    border-radius: 15px;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .left .click a {
    color: black;
    font-weight: 0;
  }

  nav .left ul .active1 a {
    font-weight: bold;
    color: rgb(109, 106, 106);
  }
  
  nav .left ul .click1 a {
    font-weight: 0;
    color: rgb(109, 106, 106);
  }

  /* hamburger button */

  .humberger-btn {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row; 
    padding: 200px;
  }

  @media only screen and (max-width: 500px) {
    .left li {
      display: none;
    }

    .right a{
      display: none;
    }

    .humberger-btn {
      display: block;
    }
  }

  .hamburger-nav-link {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid white;
    width: 100%;
    text-align: center;
  }
  
  .hamburger-active {
    background-color: black;
  }
  
  #hamburger-button {
    display: none;
  }
  
  .hide {
    display: none !important;
  }
  
  .hamburger-container {
    display: block;
    background-color: gray;
    text-align: center;
    list-style-type: none;
  }

  .hamburger-container {
    background-color: gray;
    text-align: center;
    list-style-type: none;
  }

  .hamburger-hide {
    display: none;
  }

  
  @media only screen and (max-width: 500px) {
    .navbar-link {
      display: none;
    }
  
    .navbar-contact-btn {
      display: none;
    }
  
    #hamburger-button {
      display: block;
    }
  }